# Ignorare la dir operation di dataset
progettazione/dataset/operation/

# Ignorare la dir idee dataset di progettazione
progettazione/idee dataset/

# Ignorare tutti i py_cache nel progetto
**/__pycache__/

# Ignorare alcuni file
progettazione/dataset/Tasks.md
progettazione/dataset/df_preprocessed_continuous.csv
progettazione/dataset/df_preprocessed_discrete.csv
